<tr class="govuk-table__row">
  <th class="govuk-table__header" scope="row"><%= c.name %></th>
  <td class="govuk-table__cell "><%= c.nomis_id %></td>
  <td class="govuk-table__cell "><%= c.status.humanize %></td>
  <td class="govuk-table__cell "><%= c.due_date %></td>
  <td class="govuk-table__cell ">
    <% unless c.closed? %>
      <%= link_to 'View', path %>
    <% end %>
  </td>
</tr>
