<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    Consideration of recommended category
  </h1>
</legend>

<% a = @answers[0] %>
<h3 class="govuk-heading-m">Date of birth: <%= a.display_text["date_of_birth"].to_date.strftime("%d/%m/%Y") rescue '' %></h3>
<h3 class="govuk-heading-m">NOMIS id: <%= a.display_text["nomis_id"] %></h3>
<h3 class="govuk-heading-m">Summary of previous offences:</h3>
<p class="govuk-body"><%= a.display_text["summary_of_previous_offences"] %></p>

<% a = @answers[8] %>

<% if current_user.is_offender_manager? %>
  <%= render partial: 'shared/categorise' %>
<% else %>
  <%= render 'shared/countersign' %>
<% end %>