<div class="govuk-form-group">
  <label class="govuk-label" for="<%=purpose%>">
    Please provide a summary of the offender's previous convictions
  </label>
  <span id="<%=purpose%>-hint" class="govuk-hint">
    Please provide as much detail as you can
  </span>
  <textarea class="govuk-textarea" id="<%=purpose%>" name="<%=purpose%>" rows="5" aria-describedby="<%=purpose%>-hint"></textarea>
</div>