<p id="notice"><%= notice %></p>

<p>
  <strong>Serialized text:</strong>
  <%= @section.serialized_text %>
</p>

<p>
  <strong>Case:</strong>
  <%= @section.case %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
